%h1= @header

= link_to 'Donations', donations_path, class: 'btn btn-primary', style: 'float: right; margin-top: 10px;'

%table.a1-table.table.table-hover#donations
  %thead
    %tr
      %th Customer
      %th Order#
      %th Start Date
      %th Monthly Amount
      %th Total to Date
      %th End Date
      %th Item Description or Acct Code

%br